# Bag of Words:

In [1]:
import pandas as pd
import numpy as np
from math import sqrt, exp, pi
from collections import defaultdict
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler, LabelEncoder

First must import the training and test dataset then separate the category column from the string

In [2]:
articles = pd.read_csv('C:/Users/Calvi/Documents/Uni/Data Science Toolbox/Assessment 2/articles_train_90_10.csv')

In [3]:
articles_test = pd.read_csv('C:/Users/Calvi/Documents/Uni/Data Science Toolbox/Assessment 2/articles_test_90_10.csv')

In [4]:
article_test_Categories = articles_test['category']

In [5]:
article_test_string = articles_test['string']

In [6]:
articles.head()

   Unnamed: 0  category                                             string
0           0  business  quarterly profits media giant timewarner jumpe...
1           1  business  dollar hit highest level euro almost months fe...
2           2  business  owners embattled russian oil giant yukos ask b...
3           4  business  shares uk drinks food firm allied domecq risen...
4           5  business  japans economy teetered brink technical recess...

In [7]:
articles_wc = np.array(articles['string'])

In [8]:
def remove_ws(text):
    # This function turns a piece of text into a list of the words within that text
    list = []
    for i in text:
        list.append(str(i).split())
    return list

In [9]:
articles_ws = remove_ws(articles_wc)

In [10]:
def vocab():
    # This gathers all of the words mentioned in the documents and geta list of the unique ones
    vocab = []
    for i in np.array(pd.read_csv('C:/Users/Calvi/Documents/Uni/Data Science Toolbox/Assessment 2/allwords.csv')).T[0]:
        if i not in vocab:
            vocab.append(i)
    return vocab

In [11]:
vocab = vocab()

In [12]:
vocab = [x for x in vocab if not any(c.isdigit() for c in str(x))] # This removes every number mentioned

In [13]:
def wordtovec(text):
    # changes a list of words to a list of numbers where each one represented the number of times a certain word in vocab() is mentioned
    vector = []
    for word in vocab:
        vector.append(text.count(word))
    return vector

In [14]:
def wordtomat(text):
    # changes an array of lists of words to an array of lists of numbers where each row represent a text and each number in a row represent the number of times a certain word in vocab() is mentioned 
    vector = []
    counter = 0
    for article in text:
        vector.append(wordtovec(article))
        counter += 1
        
        if counter % 1000 == 0:
            print(counter)
    return vector

In [15]:
bagofwords = wordtomat(articles_ws)
bagofwords_df = pd.DataFrame(bagofwords, columns = vocab)

1000
2000

In [16]:
bagofwords_df.head()

,foreignlanguage,milton,licensing,orders,matthew,annette,broadcast,fergus,investments,filmmaking,...,administrator,nonus,infections,mbeki,illequipped,recognise,nowadays,dismounting,xabi,tossed
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
y1 = pd.DataFrame(preprocessing.LabelEncoder().fit_transform(articles['category']))

In [18]:
y1.columns=['Category']

In [19]:
bagofwords_and_cat = pd.concat([bagofwords_df,y1],axis=1)

In [20]:
bagofwords_and_cat.head()

,foreignlanguage,milton,licensing,orders,matthew,annette,broadcast,fergus,investments,filmmaking,...,nonus,infections,mbeki,illequipped,recognise,nowadays,dismounting,xabi,tossed,Category
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Naive Bayes Model SKlearn:

In [21]:
from sklearn.naive_bayes import MultinomialNB
#Model Building
classifier = MultinomialNB()
#classifier.fit(x_train,y_train)
classifier.fit(np.array(bagofwords_df),np.array(y1).flatten())

MultinomialNB()

In [22]:
def prediction(text):
    # This gets the numbered outputs of the Naive Bayes' method and returns them to their named classes
    prediction = []
    pred = classifier.predict(text)
    for best_label in pred:
        if best_label == 0:
            prediction.append('business')
        elif best_label == 1:
            prediction.append('entertainment')
        elif best_label == 2:
            prediction.append('politics')
        elif best_label  == 3:
            prediction.append('sport')
        else:
            prediction.append('tech')
    return prediction

### Test:

In [23]:
bagofwords_test = wordtomat(remove_ws(np.array(article_test_string)))

In [24]:
pd.DataFrame(bagofwords_test).head()

,0,1,2,3,4,5,6,7,8,9,...,31110,31111,31112,31113,31114,31115,31116,31117,31118,31119
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
pred = prediction(bagofwords_test)

In [26]:
print(pred)

['business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'tech', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'politics', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'tech', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'tech', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'entertainment', 'politics', 'business', 'politics', 'politics', 'politics', 'politics', 'politics', 'entertainment', 'politics', 'politics', 'tech', 'politics', 'politics', 'politics', 'politics', 'politics', 'politics', 'politics', 'politics', 'politics', 'politics', 'politics', 'politics', 'politics', 'politics', 'politics', 'politics', 'business', 'politics', 'politics', 'politics', 'politics', 'politics', 'politics', 'politics', 'politics', 'politics', 'politics', 'politics', 'politics', 'politics', 'politics', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'politics', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'sport', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'entertainment', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'tech', 'politics', 'tech', 'tech']

In [27]:
print(len(pred))
print(article_test_Categories)

223
0      business
1      business
2      business
3      business
4      business
         ...
218        tech
219        tech
220        tech
221        tech
222        tech
Name: category, Length: 223, dtype: object

In [28]:
# 1 represents a correct prediction, 0 represents an incorrect prediction
array = np.zeros(len(pred))
for i in range(len(pred)):
    if(article_test_Categories[i] == pred[i]):
        array[i] = 1
    else:
        print(str(i) + ": " + article_test_Categories[i] + " and " + pred[i])
print(array)

33: business and tech
66: entertainment and politics
75: entertainment and tech
84: entertainment and tech
91: politics and business
97: politics and entertainment
100: politics and tech
117: politics and business
163: sport and politics
210: tech and entertainment
220: tech and politics
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1.
 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1.
 1. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 0. 1. 1.]

In [29]:
print("Accuracy of the Naive Bayes' prediction is",sum(array)*100/len(array),"%")

Accuracy of the Naive Bayes' prediction is 95.06726457399103 %

## Multinomial Logistic Regression:

In [30]:
## Binary classification for each class

In [31]:
# 5 copies of the dataset

In [32]:
categories = np.unique(bagofwords_and_cat.iloc[:,-1])

In [33]:
d0 = bagofwords_and_cat.copy()
d1 = bagofwords_and_cat.copy()
d2 = bagofwords_and_cat.copy()
d3 = bagofwords_and_cat.copy()
d4 = bagofwords_and_cat.copy()

In [34]:
datasets = [d0,d1,d2,d3,d4]

In [35]:
# Turn each dataset into a binary classification

In [36]:
for i in range(len(categories)):
    for j in range(d0.shape[0]):
        if datasets[i].at[j,'Category'] == i:
            datasets[i].at[j,'Category'] = 1
        else:
            datasets[i].at[j,'Category'] = 0

In [37]:
TrainTest_datadict = {}
for i in range(len(categories)):
    X = datasets[i].iloc[:,:-1]
    X = X.T
    y = datasets[i].iloc[:,-1]
    y = np.array(y)
    TrainTest_datadict['D'+str(i)] = [X,y]

In [38]:
iterations = 100 # large number
alpha = 0.01
m = d0.shape[1]
cost_values = []
trained_parameters = []

for trainsets in range(len(categories)):
    X = TrainTest_datadict['D'+str(trainsets)][0]
    y = TrainTest_datadict['D'+str(trainsets)][1]
    weights = np.full((1,X.shape[0]),0.01)
    bias = 0
    costfunc_values = []
    k = 0
    print('Training for dataset '+str(trainsets))
    for i in range(1,iterations+1):
        # logistic function
        z = np.dot(weights,X) + bias
        hypothesis = 1/(1+np.exp(-z))
        
        # Cost function
        j = 1/m *(-1*(np.sum(y*np.log(hypothesis) + (1-y)*np.log(1-hypothesis))))
        costfunc_values.append(j)
        k+=1
        
        # Gradient decent
        
        dw = 1/m * np.dot(hypothesis-y,X.T)
        db = 1/m * np.sum(hypothesis-y)
        weights = weights - alpha*dw
        bias = bias - alpha*db
        
        # stop training
        if i%2000 == 0:
            print('running @',j)
        if i%2 == 0:
            if abs(j-costfunc_values[-2])<0.000001:
                if abs(j-costfunc_values[-3])<0.000001:
                    break
        
        cost_values.append(costfunc_values)
        trained_parameters.append([weights,bias])
        print('iteration number:',k)

Training for dataset 0
iteration number: 1
iteration number: 2
iteration number: 3
iteration number: 4
iteration number: 5
iteration number: 6
iteration number: 7
iteration number: 8
iteration number: 9
iteration number: 10
iteration number: 11
iteration number: 12
iteration number: 13
iteration number: 14
iteration number: 15
iteration number: 16
iteration number: 17
iteration number: 18
iteration number: 19
iteration number: 20
iteration number: 21
iteration number: 22
iteration number: 23
iteration number: 24
iteration number: 25
iteration number: 26
iteration number: 27
iteration number: 28
iteration number: 29
iteration number: 30
iteration number: 31
iteration number: 32
iteration number: 33
iteration number: 34
iteration number: 35
iteration number: 36
iteration number: 37
iteration number: 38
iteration number: 39
iteration number: 40
iteration number: 41
iteration number: 42
iteration number: 43
iteration number: 44
iteration number: 45
iteration number: 46
iteration number: 47
iteration number: 48
iteration number: 49
iteration number: 50
iteration number: 51
iteration number: 52
iteration number: 53
iteration number: 54
iteration number: 55
iteration number: 56
iteration number: 57
iteration number: 58
iteration number: 59
iteration number: 60
iteration number: 61
iteration number: 62
iteration number: 63
iteration number: 64
iteration number: 65
iteration number: 66
iteration number: 67
iteration number: 68
iteration number: 69
iteration number: 70
iteration number: 71
iteration number: 72
iteration number: 73
iteration number: 74
iteration number: 75
iteration number: 76
iteration number: 77
iteration number: 78
iteration number: 79
iteration number: 80
iteration number: 81
iteration number: 82
iteration number: 83
iteration number: 84
iteration number: 85
iteration number: 86
iteration number: 87
iteration number: 88
iteration number: 89
iteration number: 90
iteration number: 91
iteration number: 92
iteration number: 93
iteration number: 94
iteration number: 95
iteration number: 96
iteration number: 97
iteration number: 98
iteration number: 99
iteration number: 100
Training for dataset 1
iteration number: 1
iteration number: 2
iteration number: 3
iteration number: 4
iteration number: 5
iteration number: 6
iteration number: 7
iteration number: 8
iteration number: 9
iteration number: 10
iteration number: 11
iteration number: 12
iteration number: 13
iteration number: 14
iteration number: 15
iteration number: 16
iteration number: 17
iteration number: 18
iteration number: 19
iteration number: 20
iteration number: 21
iteration number: 22
iteration number: 23
iteration number: 24
iteration number: 25
iteration number: 26
iteration number: 27
iteration number: 28
iteration number: 29
iteration number: 30
iteration number: 31
iteration number: 32
iteration number: 33
iteration number: 34
iteration number: 35
iteration number: 36
iteration number: 37
iteration number: 38
iteration number: 39
iteration number: 40
iteration number: 41
iteration number: 42
iteration number: 43
iteration number: 44
iteration number: 45
iteration number: 46
iteration number: 47
iteration number: 48
iteration number: 49
iteration number: 50
iteration number: 51
iteration number: 52
iteration number: 53
iteration number: 54
iteration number: 55
iteration number: 56
iteration number: 57
iteration number: 58
iteration number: 59
iteration number: 60
iteration number: 61
iteration number: 62
iteration number: 63
iteration number: 64
iteration number: 65
iteration number: 66
iteration number: 67
iteration number: 68
iteration number: 69
iteration number: 70
iteration number: 71
iteration number: 72
iteration number: 73
iteration number: 74
iteration number: 75
iteration number: 76
iteration number: 77
iteration number: 78
iteration number: 79
iteration number: 80
iteration number: 81
iteration number: 82
iteration number: 83
iteration number: 84
iteration number: 85
iteration number: 86
iteration number: 87
iteration number: 88
iteration number: 89
iteration number: 90
iteration number: 91
iteration number: 92
iteration number: 93
iteration number: 94
iteration number: 95
iteration number: 96
iteration number: 97
iteration number: 98
iteration number: 99
iteration number: 100
Training for dataset 2
iteration number: 1
iteration number: 2
iteration number: 3
iteration number: 4
iteration number: 5
iteration number: 6
iteration number: 7
iteration number: 8
iteration number: 9
iteration number: 10
iteration number: 11
iteration number: 12
iteration number: 13
iteration number: 14
iteration number: 15
iteration number: 16
iteration number: 17
iteration number: 18
iteration number: 19
iteration number: 20
iteration number: 21
iteration number: 22
iteration number: 23
iteration number: 24
iteration number: 25
iteration number: 26
iteration number: 27
iteration number: 28
iteration number: 29
iteration number: 30
iteration number: 31
iteration number: 32
iteration number: 33
iteration number: 34
iteration number: 35
iteration number: 36
iteration number: 37
iteration number: 38
iteration number: 39
iteration number: 40
iteration number: 41
iteration number: 42
iteration number: 43
iteration number: 44
iteration number: 45
iteration number: 46
iteration number: 47
iteration number: 48
iteration number: 49
iteration number: 50
iteration number: 51
iteration number: 52
iteration number: 53
iteration number: 54
iteration number: 55
iteration number: 56
iteration number: 57
iteration number: 58
iteration number: 59
iteration number: 60
iteration number: 61
iteration number: 62
iteration number: 63
iteration number: 64
iteration number: 65
iteration number: 66
iteration number: 67
iteration number: 68
iteration number: 69
iteration number: 70
iteration number: 71
iteration number: 72
iteration number: 73
iteration number: 74
iteration number: 75
iteration number: 76
iteration number: 77
iteration number: 78
iteration number: 79
iteration number: 80
iteration number: 81
iteration number: 82
iteration number: 83
iteration number: 84
iteration number: 85
iteration number: 86
iteration number: 87
iteration number: 88
iteration number: 89
iteration number: 90
iteration number: 91
iteration number: 92
iteration number: 93
iteration number: 94
iteration number: 95
iteration number: 96
iteration number: 97
iteration number: 98
iteration number: 99
iteration number: 100
Training for dataset 3
iteration number: 1
iteration number: 2
iteration number: 3
iteration number: 4
iteration number: 5
iteration number: 6
iteration number: 7
iteration number: 8
iteration number: 9
iteration number: 10
iteration number: 11
iteration number: 12
iteration number: 13
iteration number: 14
iteration number: 15
iteration number: 16
iteration number: 17
iteration number: 18
iteration number: 19
iteration number: 20
iteration number: 21
iteration number: 22
iteration number: 23
iteration number: 24
iteration number: 25
iteration number: 26
iteration number: 27
iteration number: 28
iteration number: 29
iteration number: 30
iteration number: 31
iteration number: 32
iteration number: 33
iteration number: 34
iteration number: 35
iteration number: 36
iteration number: 37
iteration number: 38
iteration number: 39
iteration number: 40
iteration number: 41
iteration number: 42
iteration number: 43
iteration number: 44
iteration number: 45
iteration number: 46
iteration number: 47
iteration number: 48
iteration number: 49
iteration number: 50
iteration number: 51
iteration number: 52
iteration number: 53
iteration number: 54
iteration number: 55
iteration number: 56
iteration number: 57
iteration number: 58
iteration number: 59
iteration number: 60
iteration number: 61
iteration number: 62
iteration number: 63
iteration number: 64
iteration number: 65
iteration number: 66
iteration number: 67
iteration number: 68
iteration number: 69
iteration number: 70
iteration number: 71
iteration number: 72
iteration number: 73
iteration number: 74
iteration number: 75
iteration number: 76
iteration number: 77
iteration number: 78
iteration number: 79
iteration number: 80
iteration number: 81
iteration number: 82
iteration number: 83
iteration number: 84
iteration number: 85
iteration number: 86
iteration number: 87
iteration number: 88
iteration number: 89
iteration number: 90
iteration number: 91
iteration number: 92
iteration number: 93
iteration number: 94
iteration number: 95
iteration number: 96
iteration number: 97
iteration number: 98
iteration number: 99
iteration number: 100
Training for dataset 4
iteration number: 1
iteration number: 2
iteration number: 3
iteration number: 4
iteration number: 5
iteration number: 6
iteration number: 7
iteration number: 8
iteration number: 9
iteration number: 10
iteration number: 11
iteration number: 12
iteration number: 13
iteration number: 14
iteration number: 15
iteration number: 16
iteration number: 17
iteration number: 18
iteration number: 19
iteration number: 20
iteration number: 21
iteration number: 22
iteration number: 23
iteration number: 24
iteration number: 25
iteration number: 26
iteration number: 27
iteration number: 28
iteration number: 29
iteration number: 30
iteration number: 31
iteration number: 32
iteration number: 33
iteration number: 34
iteration number: 35
iteration number: 36
iteration number: 37
iteration number: 38
iteration number: 39
iteration number: 40
iteration number: 41
iteration number: 42
iteration number: 43
iteration number: 44
iteration number: 45
iteration number: 46
iteration number: 47
iteration number: 48
iteration number: 49
iteration number: 50
iteration number: 51
iteration number: 52
iteration number: 53
iteration number: 54
iteration number: 55
iteration number: 56
iteration number: 57
iteration number: 58
iteration number: 59
iteration number: 60
iteration number: 61
iteration number: 62
iteration number: 63
iteration number: 64
iteration number: 65
iteration number: 66
iteration number: 67
iteration number: 68
iteration number: 69
iteration number: 70
iteration number: 71
iteration number: 72
iteration number: 73
iteration number: 74
iteration number: 75
iteration number: 76
iteration number: 77
iteration number: 78
iteration number: 79
iteration number: 80
iteration number: 81
iteration number: 82
iteration number: 83
iteration number: 84
iteration number: 85
iteration number: 86
iteration number: 87
iteration number: 88
iteration number: 89
iteration number: 90
iteration number: 91
iteration number: 92
iteration number: 93
iteration number: 94
iteration number: 95
iteration number: 96
iteration number: 97
iteration number: 98
iteration number: 99
iteration number: 100

### Test:

In [39]:
test = pd.DataFrame(bagofwords_test)

In [40]:
def prediction(trained_parameters,test):
    inputs = test.T
    result = []
    prediction = []
    print(inputs.shape[1])
    for i in range(inputs.shape[1]):
        probabilities = []
        for j in range(5):
            weights = trained_parameters[j][0]
            bias = trained_parameters[j][1]
            z = np.dot(weights,(inputs.iloc[:,i]).T)+bias
            hypothesis = 1/(1+np.exp(-z))
            probabilities.append(hypothesis)
        predict = probabilities.index(max(probabilities))
        result.append(predict)
    for best_label in result:
        if best_label == 0:
            prediction.append('business')
        elif best_label == 1:
            prediction.append('entertainment')
        elif best_label == 2:
            prediction.append('politics')
        elif best_label  == 3:
            prediction.append('sport')
        else:
            prediction.append('tech')
    return prediction

In [41]:
pred = prediction(trained_parameters,test)

223

In [42]:
print(pred)

['business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business', 'business']

There seems to be an error with the multinomial logisitic regression attempt. It only outputs business.